<html>
<style>
  html,body{
    margin: 0;
  }
  input{
    margin: 20px;
    width: 200px;
  }
</style>
<h4>URL: http://b.yang.com:3000/b</h4>
<input id="input" type="text"  placeholder="http://b.yang.com:3000/b">
<script>
  // URL: http://b.yang.com:3000/b

  document.querySelector('#input').addEventListener('input', function(){
    console.log(location.host, this.value);
    window.parent.document.querySelector('input').value = this.value;
  })
  document.domain = 'yang.com';
</script>
</html>